.cell{
    width: 50px;
    height: 50px;
    background-color: #BFE29B;
    line-height: 50px;
    
}
.cellL{
    border: 2px solid gray;
    background-color: white;
}

.cellD{
    border: 2px solid black;
    background-color: lightgray;
}

#boardContainer {
    border: 13px, solid, black;
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: auto;
    width: 400px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Times New Roman", cursive;
    text-align: center;
}

#restartBtn{
    cursor: pointer;
}