.cell{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: green;
    border: 1px solid black;
    /* border-radius: 50%; */
    padding: 4px;
}

.piece{
    border-radius:50%;
    border: 1px solid green; 
}

.left{
    width: 65%;
    float: left;
}

.right{
    width: 35%;
    float: right;
}

#twoCollumns{
    margin-left: 300px;
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: auto;
    width: 400px;
    cursor: pointer;
    background-color: green;
}

#gameContainer{
    font-family: "Times New Roman", cursive;
    text-align: center;
}

#restartBtn{
    cursor: pointer;
    width: 150px;
    height: 25px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;
}

#togglePlayer{
    cursor: pointer;
}

#checkWinnerBtn{
    cursor: pointer;
}

#toggleBtn{
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;
}

#testBoardOne{
    cursor: pointer;
    width: 150px;
    height: 25px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;
}

#testBoardTwo{
    cursor: pointer;
    width: 150px;
    height: 25px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    margin: 10px;
}

#btnDiv{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.transclass{
    background-color:#577EFD;
}
    
.transclass:hover{
    background-color:lightblue;
    transition:background-color 1s ease 0s;
}