.cell{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: green;
    border: 1px solid black;
    /* border-radius: 50%; */
    padding: 4px;
}

.piece{
    border-radius:50%;
    /* border: 1px solid black; */
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: auto;
    width: 400px;
    cursor: pointer;
    background-color: green;
}

#gameContainer{
    font-family: "Times New Roman", cursive;
    text-align: center;
}

#restartBtn{
    cursor: pointer;
}

#checkWinnerBtn{
    cursor: pointer;
}